*{
    padding: 0;
    margin: 0;
  }
  
  .top-content p{
    text-align: center;
    width: 100%;
    font-size: 40px;
    /* font-family: ; */
    padding-top: px;
  }
.span{
  color: blue;
  font-size: 3.5rem;
}
  .top-sub-content p{
    padding-top: 20px;
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
  }
  
  .mid-container{
    display: flex;
  }
  
  .left-mid-container{
    width: 20%;
    padding-top: 20px;
    height: 500px;
    text-align: center;
    margin: 2px solid black;
    
  }
  
  .middle-mid-container{
    width: 60%;
    height: 500px;
  }
  
  .right-mid-container{
    width: 20%;
    height: 500px;
    text-align: center;
  }
  
  .right-mid-container-content{
    padding-top: 20px;
    
  }
  .right-mid-container-content h1{
    color: black;
  }
  
