.login {
    max-width: 400px;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: #000;
  }
  .login a{
    color: #007bff;
  }
  
  h1 {
    color: white;
    font-size: 1.6rem;
    font-family: Papyrus;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  p {
    font-size: 18px;
    color: #555;
  }
  
  Link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }

.signup {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  background: #000;
}

.signup h1 {
  text-align: center;
  color: white;
  font-size: 1.6rem;
  font-family: Papyrus;
}

.signup form {
  display: flex;
  flex-direction: column;
}

.signup input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup input[type="submit"] {
  background-color: #45a049;
  color: #fff;
  cursor: pointer;
}

.signup input[type="submit"]:hover {
  background-color: #45a049;
}

.signup p {
  text-align: center;
  margin: 10px 0;
}

.signup a {
  text-align: center;
  color: #007bff;
  text-decoration: none;
  margin-left: 150px;
}

.signup a:hover {
  text-decoration: none;
}
